.headerText{
    font-size: 19px;
}

.messageText{
    font-size: 14px;
}

.UserInfoChat{
    height: 40px;
    border-bottom: 1px solid #dcdcdd;
    padding: 3px;
}

.UserInfoChatText{
    margin-top: 0;
}