.headerText{
    font-size: 19px;
}

.statusText{
    font-size: 14px;
}

.UserInfoChat{
    height: 64px;
    border-bottom: 1px solid gray;
}

.UserInfoChatText{
    margin-top: 0;
    padding:0;
}

.ant-layout-header{
    line-height: 0 !important;
}

.Button{
    padding:0;
}

.Popover{
    padding:0 !important;
}